# Ignore environment variables file
.env

# Ignore macOS system files
.DS_Store

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore compiled Java files
*.class

# Ignore IDE configuration files
.idea/
.vscode/

#Ignore the redis_hash 
/static/redis_hash.json

