
  
    
    <style>



        .bold {
            font-weight: 600;
        }  

        .navbar-brand.bold {  
            font-size: 140%;
        }

        .button-custom-color {
            background-color: #19A7CE;
            border-color: #19A7CE;
            color: var(--button-text-color) !important;
        }

        .button-custom-color:hover {
            background-color: #0D87B0;
            border-color: #0D87B0;
            color: var(--button-text-hover-color) !important ; /* Font color on hover */
        }

        .submit-error-message {
            color: #FA7070;
        }

        .dark-switch {
            margin-top: 7px;
            margin-right: 20px;
        }

        .checkbox {
            opacity: 0;
            position: absolute;
        }

        .checkbox-label {
            background-color: #ffffff;
            width: 50px;
            height: 26px;
            border-radius: 50px;
            position: relative;
            padding: 5px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .fa-moon { color: #343a40; }

        .fa-sun { color: #e9ecef; }

        .checkbox-label .ball {
            background-color: #19A7CE;
            width: 22px;
            height: 22px;
            position: absolute;
            left: 2px;
            top: 2px;
            border-radius: 50%;
            transition: transform 0.2s linear;
        }

        .checkbox:checked + .checkbox-label .ball {
            transform: translateX(24px);
        }

        body {
            background-color: var(--background-color);
            color: var(--text-color);
        }

        .footer-header-color {
            background-color: var(--footer-background-color);
            color: var(--footer-text-color);
        }

        .navbar-brand.bold {
            color: var(--navbar-brand-color);
            
        }

        .navbar-brand.bold:hover
        {
            color: var(--nav-brand-hover-color) ;
        }



        .navbar-nav .nav-item .nav-link {
            color: var(--nav-link-color) !important;
        }

        .form-control{
            
            background-color : var(--form-background-color);
        }

        .form-control:focus {
            background-color: var(--input-focus-background-color);
            color: var(--input-focus-text-color);
        }     



    </style>



    <nav class="navbar navbar-expand-lg navbar-light sticky-top footer-header-color shadow-sm">
        <div class="dark-switch">
            <input type="checkbox" class="checkbox" id="checkbox">
            <label for="checkbox" class="checkbox-label">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <span class="ball"></span>
            </label>
        </div>

        <a class="navbar-brand bold" href="{{ url_for('home') }}">Abhi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('about') }}">About<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/tech">Tech<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/project">Projects<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/life">Life<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#contact">Contact<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline ml-auto" action="/search" method="POST">
                <input class="form-control mr-sm-2 rounded" type="search" name="search_query" placeholder="Search" aria-label="Search">
                <button class="btn btn button-custom-color rounded" type="submit">Search</button>
            </form>
        </div>
    </nav>




    <script>
    function applyTheme(theme) {
        if (theme === 'dark') {
            document.body.classList.add('dark');
            document.querySelector('.footer-header-color').classList.add('dark');
        } else {
            document.body.classList.remove('dark');
            document.querySelector('.footer-header-color').classList.remove('dark');
        }
    }

    document.getElementById('checkbox').addEventListener('change', function() {
        const theme = this.checked ? 'dark' : 'light';
        applyTheme(theme);
        localStorage.setItem('theme', theme);
    });

    function detectSystemTheme() {
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            return 'dark';
        } else {
            return 'light';
        }
    }

    // Apply the theme on initial load
    const savedTheme = localStorage.getItem('theme') || detectSystemTheme();
    applyTheme(savedTheme);
    document.getElementById('checkbox').checked = savedTheme === 'dark';

    // Update theme when system preference changes
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
        if (!localStorage.getItem('theme')) { // Only apply system theme if no user preference is set
            applyTheme(e.matches ? 'dark' : 'light');
        }
    });

    // Smooth scrolling behavior
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            const target = document.querySelector(this.getAttribute('href'));
            const offsetTop = target.getBoundingClientRect().top + window.pageYOffset;

            const scrollOptions = {
                top: offsetTop,
                behavior: 'smooth',
                duration: 900, // Adjust the duration in milliseconds as needed
                easing: 'easeInOutCubic' // Adjust the easing function as needed
            };

            window.scrollTo(scrollOptions);
        });
    });
    </script>

