<body class="background-color-body">
    <div class="container main-container-color shadow-lg">

    {% set title = "Enter the name of Users" %}
    {% include 'reusable/card-heading.html' %}
    <style>

        .row-height{
            height: 100px;
        }


        .submit-success-message {
            color: #557C55;
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .submit-error-message {
            color: #FA7070;
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .button-custom-color {
            background-color: #19A7CE;
            border-color: #19A7CE;
            color: #ffffff;
        }

        .button-custom-color:hover {
            background-color: #0D87B0;
            border-color: #0D87B0;
            color: #fefefe;
        }

        #qrcode {
            margin-top: 20px;
        }

        .button-container {
            margin-top: 25px; /* Space between buttons */
        }



        .hash-url{
            margin-top: 10px;
            margin-bottom: 20px;
        }
    </style>
        
   
    <div class="row p-3 main-container-color flex-column flex-md-row">

        <div class = "col" >

        <div class = "row background-color-body rounded">
            
        <div class = "col-2 "></div>

        <div class="col-8 text-center background-color-body rounded p-3">
            <form id="chatRegistrationForm">
                <div class="form-group">
                    <input class="form-control mb-3" id="name_1" name="name_1" autocomplete="off" placeholder="1st Person name .."/>
                    <input class="form-control mb-3" id="name_2" name="name_2" autocomplete="off" placeholder="2nd Person name .."/>
                    <div id="successMessageSubmittinyurl" class="submit-success-message" style="display: none;">Users Got Registered!!</div>
                    <div id="errorMessagetinyurl" class="submit-error-message bio-font" style="display: none;">Please enter names</div>
                    <button id="submit" class="btn button-custom-color bio-font" type="submit">Sign Up</button>
                    <button type="button" class="btn button-custom-color bio-font" id="clearButton" style="display: none;">Sign Up more Users</button>

                    <div id="chatHashUrl" style="display: none;">
                        <div class ="hash-url arial-font font-color-class " id="chatHashUrlDisplay"></div>
                        <button type="button" id="copyButton" class="btn button-custom-color bio-font">Copy Chat Url</button>
                        
                        
                    </div>
                </div>
            </form>
        </div>

        <div class="col-2"></div>
        </div>
        </div>
    </div>


    <div id = "qrcontainer" class="row p-3 flex-column flex-md-row " style="display: none;">
        <div class="col rounded">
            <div class="row background-color-body rounded text-center">
                <div class = "col"></div>
                <div class = "qr-code mt-3 mb-3" id="qrcode"></div>
                <div class = "col"></div>
            </div>
        </div>
    </div>



    <!--heading text-->

    {% set title = "Projects" %}
    {% include 'reusable/card-heading.html' %}


    <!--------------set the card structure ------>
                            
    {% set card_one_text = "Patching and Unpatching are a set of tools that are used for image processing. The patching .." %}
    <!--------- ------set card text------- ------->
    {%set image_url_card_one = "..\\static\\images\\projects\\patching-unpatching\\patching.png" %}
    {%set card_one_url = "/projects/patching-unpatching" %}
    
    
    {% set card_two_text = "Federated Learning is paradigm that covers the decentralized learning of the model on the .." %}
    {%set image_url_card_two = "..\\static\\images\\projects\\federated-learning\\federated-learning-flow.png" %}
    {%set card_two_url = "/projects/federated-learning" %}
    
    
    {% set card_three_text = "The neural style transfer is implemented as per paper that came in 2015 title A Neural Style .. " %}
    {%set image_url_card_three = "..\\static\\images\\projects\\neural-transfer\\image_1.png" %}
    {%set card_three_url = "/projects/neural-transfer" %}
    
    {% include 'reusable/cards-display.html' %}
    
    <!--------------------The end of one card  ---------------->
    {% set more_link = "/project" %}
    {% include 'reusable/more.html' %}

    
</div>

   <!-- Load QRCode library from CDN -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
   <script>
    document.getElementById("chatRegistrationForm").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent the default form submission behavior

        // Get the names from the form
        var name_1 = document.getElementById("name_1").value;
        var name_2 = document.getElementById("name_2").value;
        var namePattern = /^[A-Za-z]+([ A-Za-z-]*[A-Za-z])?$/;

        // Check if the URL field is empty or invalid
        if (!name_1.match(namePattern) || !name_2.match(namePattern)  || !name_1 || !name_2)
        {
            // Display error message
            document.getElementById("errorMessagetinyurl").style.display = "block";
                return; // Exit the function if the field is empty or invalid
            } else {
                // Hide error message if URL is valid
                document.getElementById("errorMessagetinyurl").style.display = "none";
            
        }


        // Send the form data to the Flask backend using AJAX
        fetch('/chat_user_sign_up', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ name_1: name_1, name_2: name_2 })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {

                // Display success message
                document.getElementById("successMessageSubmittinyurl").style.display = "block";
                // Display the generated chat URL

                const chatHashUrlDisplay = document.getElementById("chatHashUrlDisplay");
                const chatUrl = window.location.origin + "/chat/user/" + data.hash;
                chatHashUrlDisplay.textContent = chatUrl;

                // Display the hash URL and QR container
                document.getElementById("qrcontainer").style.display = "block";
                document.getElementById("chatHashUrl").style.display = "block";
                document.getElementById("clearButton").style.display = "inline";
                document.getElementById("submit").style.display = "none";

                //hide the extra area 
                //document.getElementById("false-row").style.display = "none";
                
                //make the fields clear 
                document.getElementById("name_1").value = "";
                document.getElementById("name_2").value = "";
                

                // Generate the QR code for the chat URL
                generateQRCode(chatUrl);
            }
        })
        .catch(error => console.error('Error:', error));
    });

    const qrcodeElement = document.getElementById("qrcode");
    const qr = new QRCode(qrcodeElement, {
        width: 200,
        height: 200
    });

        // Generate Another URL button functionality
        document.getElementById("clearButton").addEventListener("click", function() {
        // Redirect to the page URL
        window.location.href = window.location.origin + window.location.pathname;
    });

    // Function to generate QR code
    function generateQRCode(url) {
        qr.clear(); // Clear the previous QR code
        qr.makeCode(url); // Generate QR code for the chat URL
    }

    // Select the copy button
    const copyButton = document.getElementById("copyButton");

    // Add click event listener to the copy button
    copyButton.addEventListener("click", function() {
        // Select the chat URL text
        const chatUrlText = document.getElementById("chatHashUrlDisplay").textContent;

        // Create a temporary textarea element to copy the text
        const textarea = document.createElement("textarea");
        textarea.value = chatUrlText;
        document.body.appendChild(textarea);
        textarea.select();

        // Copy the text to the clipboard
        document.execCommand("copy");

        // Remove the temporary textarea
        document.body.removeChild(textarea);

        // Provide visual feedback that the URL has been copied
        copyButton.textContent = "Copied!";
        setTimeout(function() {
            copyButton.textContent = "Copy Chat Url";
        }, 2000); // Change back to "Copy Chat Url" after 2 seconds
    });
</script>




</body>

