<body class="background-color-body">
    <div class="container main-container-color shadow-lg">
 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    
 <script defer src="/static/chat.js"></script>
    <style>
        #chat {
            margin: 0 auto;
            text-align: center;
        }
        #messages {
            
            height: 500px;
            overflow-y: scroll;
            margin-bottom: 10px;
        }
        #messageInput {
            width: 80%;
        }
        #sendbutton {
            width: 18%;
        }
    </style>

    
   <!--- <div id="chat">
        <div id="messages"></div>
        <input id="messageInput" autocomplete="off" placeholder="Type a message..."/>
        <button id ="sendbutton" onclick="sendMessage()">Send</button>
    </div> --->
    
</div>


<div id = "" class="row p-3 flex-column flex-md-row ">
    
    <div class="col rounded"> </div>
        
    <div class = "col">

        <div id="messages"></div>
        <input id="messageInput" autocomplete="off" placeholder="Type a message..."/>
        <button id ="sendbutton" onclick="sendMessage()">Send</button>
    </div>
           
    <div class = "col"></div>
        
    </div>






</body>

