
    <title>QR Code Generator</title>
    <style>
        .submit-success-message {
            color: #557C55;
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .submit-error-message {
            color: #FA7070;
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .button-custom-color {
            background-color: #19A7CE;
            border-color: #19A7CE;
            color: #ffffff;
        }

        .button-custom-color:hover {
            background-color: #0D87B0;
            border-color: #0D87B0;
            color: #fefefe;
        }

        #qrcode {
            margin-top: 20px;
        }

        .button-container {
            margin-top: 20px; /* Space between buttons */
        }

        .qr-code {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .tiny-url{
            margin-top: 10px;
            margin-bottom: 20px;
        }
    </style>

    <div class="row footer-header-color flex-column flex-md-row">
        <div class="col"></div>
        <div class="col text-center">
            <form id="tinyurlForm">
                <div class="form-group">
                    <label></label>
                    <input type="text" class="form-control" name="original_url" id="original_url" placeholder="Enter the original URL with http">
                </div>
                <div id="successMessageSubmittinyurl" class="submit-success-message" style="display: none;">URL Generated Succesfully!!</div>
                <div id="errorMessagetinyurl" class="submit-error-message bio-font" style="display: none;">Please fill the URL</div>
                <div id="tinyUrlDisplayContainer" style="display: none;">
                    <div class ="tiny-url arial-font font-color-class " id="tinyUrlDisplay"></div>
                    <button type="button" id="copyButton" class="btn button-custom-color bio-font">Copy Tiny URL</button>
                </div>
                <div class="button-container">
                    <button type="submit" class="btn button-custom-color bio-font" id="get_tiny_url">Get Tiny URL</button>
                    <button type="button" class="btn button-custom-color bio-font" id="clearButton" style="display: none;">Generate Another URL</button>
                </div>
                
            </form>
            
        </div>
        <div class="col"></div>
    </div>
    <div class="row footer-header-color text-center">

        <div class = "col"></div>

        <div class = "qr-code" id="qrcode"></div>

        <div class = "col"></div>
    </div>

    <!-- Load QRCode library from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

    <script>
        document.getElementById("tinyurlForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent the default form submission behavior
        
            // Check if the URL field is empty
            var original_url = document.getElementById("original_url").value;
        
            if (original_url === "") {
                // Display error message
                document.getElementById("errorMessagetinyurl").style.display = "block";
                return; // Exit the function if the field is empty
            } else {
                // Hide error message if URL is not empty
                document.getElementById("errorMessagetinyurl").style.display = "none";
            }
        
            // Send the form data to the Flask backend using AJAX
            var formData = new FormData(this);
            fetch('/submit_tiny_url', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Display success message
                    document.getElementById("successMessageSubmittinyurl").style.display = "block";
                    // Clear form fields
                    document.getElementById("original_url").value = "";
            
                    // Display the generated tiny URL
                    var tinyUrlDisplayContainer = document.getElementById("tinyUrlDisplayContainer");
                    var tinyUrlDisplay = document.getElementById("tinyUrlDisplay");
                    tinyUrlDisplayContainer.style.display = "block";
                    tinyUrlDisplay.textContent = window.location.origin + "/tu/" + data.tiny_url;
            
                    // Show the Clear button, hide the Generate button
                    document.getElementById("clearButton").style.display = "inline";
                    document.getElementById("get_tiny_url").style.display = "none";

                    // Generate the QR code for the tiny URL
                    generateQRCode(tinyUrlDisplay.textContent);
                } else {
                    // Display error message
                    document.getElementById("errorMessagetinyurl").style.display = "block";
                }
            })
            .catch(error => {
                // Handle error if needed
                console.error('Error:', error);
                document.getElementById("errorMessagetinyurl").style.display = "block";
            });
        });

        // Generate Another URL button functionality
        document.getElementById("clearButton").addEventListener("click", function() {
            // Redirect to the page URL
            window.location.href = window.location.origin + window.location.pathname;
        });

        const qrcodeElement = document.getElementById("qrcode");
        const qr = new QRCode(qrcodeElement, {
            width: 200,
            height: 200
        });

        // Function to generate QR code
        function generateQRCode(url) {
            qr.clear(); // Clear the previous QR code
            qr.makeCode(url); // Generate QR code for the tiny URL
        }

        // Select the copy button
        const copyButton = document.getElementById("copyButton");

        // Add click event listener to the copy button
        copyButton.addEventListener("click", function() {
            // Select the tiny URL text
            const tinyUrlText = document.getElementById("tinyUrlDisplay").textContent;

            // Create a temporary textarea element to copy the text
            const textarea = document.createElement("textarea");
            textarea.value = tinyUrlText;
            document.body.appendChild(textarea);
            textarea.select();

            // Copy the text to the clipboard
            document.execCommand("copy");

            // Remove the temporary textarea
            document.body.removeChild(textarea);

            // Provide visual feedback that the URL has been copied
            copyButton.textContent = "Copied!";
            setTimeout(function() {
                copyButton.textContent = "Copy Tiny URL";
            }, 2000); // Change back to "Copy Tiny URL" after 2 seconds
        });
    </script>

