
<body class="background-color-body">
    <div class="container main-container-color shadow-lg">
      <!-- the container is the start of the container  that has boxes inside it -->
    

    
     
    {% set title = "Tiny Url Generator" %}
    {% include 'reusable/card-heading.html' %}


    <!--------------------make the input data------------------>
    
    {% include 'components/input-output-tiny-url.html' %}
 
    
    {% set title = "Projects" %}
    {% include 'reusable/card-heading.html' %}


    
    <!--------------set the card structure ------>
                            
    {% set card_one_text = "Patching and Unpatching are a set of tools that are used for image processing. The patching .." %}
    <!--------- ------set card text------- ------->
    {%set image_url_card_one = "..\\static\\images\\projects\\patching-unpatching\\patching.png" %}
    {%set card_first_url = "/projects/patching-unpatching" %}
    
    
    {% set card_two_text = "Federated Learning is paradigm that covers the decentralized learning of the model on the .." %}
    {%set image_url_card_two = "..\\static\\images\\projects\\federated-learning\\federated-learning-flow.png" %}
    {%set card_two_url = "/projects/federated-learning" %}
    
    
    {% set card_three_text = "The neural style transfer is implemented as per paper that came in 2015 title A Neural Style .. " %}
    {%set image_url_card_three = "..\\static\\images\\projects\\neural-transfer\\image_1.png" %}
    {%set card_third_url = "/projects/neural-transfer" %}
    
    {% include 'reusable/cards-display.html' %}
    
    <!--------------------The end of one card  ---------------->
    {% set more_link = "/project" %}
    {% include 'reusable/more.html' %}
    
    
    </div>
    
    </body>